@import '../../scss/variables';

.form-step2 {
    width: 100%;
    padding: 65px 20px 0;
    color: $text-color-dark;

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;

        &--invalid {
            color: $warning-color;
            // font-size: 25px;
        }
    }

    &__input {
        border: none;
        padding: 5px;
        border-bottom: 1px solid $secondary-color;
        margin-bottom: 25px;
        color: $text-color-dark;

        &:focus {
            outline: none;
            border-color: darken($secondary-color, 20%);
        }
    }

    &__select-wrapper {
        position: relative;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border: solid $primary-color;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 5px;
            transform: rotate(45deg);
            position: absolute;
            right: 14px;
            top: 13px;
            pointer-events: none;
        }
    }
}

.form-date {
    display: flex;

    &__input {
        width: 100%;
        text-align: center;
        // margin-bottom: 25px;
        font-size: 13px;
        border: none;
        padding: 12px;
        border: 1px solid $secondary-color;

        &:nth-child(2) {
            border-right: 0;
            border-left: 0;
        }

        &:nth-child(1) {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:nth-child(3) {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &::placeholder {
            color: $text-color-light;

        }
    }
}

.form-gender {
    display: flex;

    &__label {
        width: 100%;
        text-align: center;
        padding: 12px;
        border: 1px solid $secondary-color;
        position: relative;
        cursor: pointer;

        &:nth-child(2) {
            border-right: 0;
            border-left: 0;
        }

        &:nth-child(1) {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:nth-child(3) {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &--checked {
            background-color: $primary-color;
        }

    }

    &__label-text {
        text-transform: uppercase;
        font-size: 13px;

        &--checked {
            color: #fff;
            font-weight: bold;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.form-info {
    border: 1px solid $secondary-color;
    padding: 12px;
    border-radius: 3px;
    font-family: $primary-font;
    font-size: 14px;
    appearance: none;
    width: 100%;
}