//Colors
$primary-color: #4990e2;
$secondary-color: #c4c4c4;
$warning-color: #9a3c3d;
$text-color-dark:#5b5c60;
$text-color-light:#a5acb2;
$success-color:#b9e986;


//Font
$primary-font:'Roboto',
sans-serif;